small.muted
  p
    b Admin
    | is allowed everything.

  p
    b Member
    | is same as admin, but has User Management page inaccessible.

  p
    b Guest
    | is same as member, but can't edit anything.
