small.muted
  p
    b Admin
    | &nbsp;is allowed everything.

  p
    b Member
    | &nbsp;is same as admin, but has User Management page inaccessible.

  p
    b Guest
    | &nbsp;is same as member, but can't edit anything.
