div#user-remove-modal.modal.hide.fade(tabindex="-1",
                                 role="dialog")

div.notifications.top-right.top-bar

div.row
  div.span10
    h3 User Management

  div.span1
    a.table-new#user-new.btn.pull-right(title='new user')
      i.icon-plus

div.row
  div.span11#user-table
