div#user-remove-modal.modal.hide.fade(tabindex="-1",
                                 role="dialog")

div.notifications.top-right.top-bar

div.row
  div.col-11
    h3 User Management

  div.col-1
    a.table-new#user-new.btn.btn-primary.pull-right(title='new user')
      i.icon-plus

div.row
  div.col-12#user-table
