td.vmiddle= user.name
td.vmiddle= user.firstName
td.vmiddle= user.lastName
td.vmiddle= user.group
td.edit
  a.btn.user-edit-button(href='#edit/' + cid, title='edit')
    i.icon-edit
  a.btn.user-edit-button(href='#remove/' + cid, title='remove')
    i.icon-trash
