td.vmiddle= user.name
td.vmiddle= user.firstName
td.vmiddle= user.lastName
td.vmiddle= user.group
td.edit
  a.btn.user-edit-button(title='edit')
    i.icon-edit
  a.btn.user-remove-button(title='remove')
    i.icon-trash
