td.vmiddle(colspan=4)
  form.form-horizontal.password-form
    div.control-group
      label.control-label.muted New password
      div.controls
        input.input-small(name='password', type='password')
    div.control-group
      label.control-label.muted Repeat password
      div.controls
        input.input-small(name='repeat', type='password')
    div.control-group
      label.control-label.text-error.fade Passwords aren't equal!

td.edit
  btn.btn.user-edit-button.save-password-button
    i.icon-ok
  btn.btn.user-edit-button.cancel-password-button
    i.icon-remove
