td.vmiddle(colspan=4)
  form.form-inline.password-form
    label.control-label(for='new-password-input') New password
    input.input-medium.form-control#new-password-input(name='password',
        type='password')
    label.control-label(for='new-password-repeat') Repeat password
    input.input-medium.form-control#new-password-repeat(name='repeat', type='password')
    label.control-label.text-error.fade Passwords aren't equal!

td.edit
  a.btn-default.btn.user-edit-button.save-password-button
    i.icon-ok
  a.btn-default.btn.user-edit-button.cancel-password-button
    i.icon-remove
