doctype 5
html
  head
    title Bastion
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/font-awesome.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div.navbar.navbar-fixed-top.navbar-inverse#header
      div.container
        a.navbar-brand(href='#') Bastion
    div.container#content
        br
        p Demo account: username
          code admin
          |, password
          code bastion
        form(action='/auth/local', method='post').form-inline.login-form.pull-left
          input(type='text', name='username', placeholder='Username').form-control
          input(type='password', name='password', placeholder='Password').form-control
          button(type='submit').btn.btn-primary Sign in
        //- a.btn.btn-primary.bitbucket-button.pull-right(href='/auth/bitbucket')
        //-   i.icon-bitbucket
        //-   | &nbsp;&nbsp;Sign in with Bitbucket
