doctype 5
html
  head
    title Bastion
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div.navbar.navbar-fixed-top.navbar-inverse#header
      div.container
        a.navbar-brand(href='#') Bastion
    div.container#content
      form(action='login', method='post').form-inline.login-form
        input(type='text', placeholder='Username').form-control
        input(type='password', placeholder='Password').form-control
        button(type='submit').btn.btn-default Sign in
