li.dropdown
  a.dropdown-toggle.pull-right(data-toggle="dropdown",
  href="#", title=user.name) logged in as "
    span= user.name
    | "&nbsp;
    b.caret
  ul.dropdown-menu(role="menu")
    form#sign-in-form(action='/logout', method='get')
      if user.group == 'admin'
        p
          a(href='/users') User Management
      p
        a.btn(title="Change own password...")
          i.icon-lock
      p
        button.btn(type="submit") Sign out
