div.row
  div.col-md-11
    h3 Build Jobs
    p Click on a row to collapse/expand

  div.col-md-1
    a.table-new#job-new.btn.btn-primary.pull-right(title='create')
      i.icon-plus

div.row: div.col-12#jobs-table
