div.description.row
  div.col-3.start-time= started
  div.elapsed-time
    if job.finished
      | Finished in
    else
      | Running for
    | &nbsp;
    span.time-diff= timeDiff
  if !job.failed && !job.finished
    a.btn.btn-danger.job-cancel Cancel
  div(class="outcome")
    if job.failed
      span.failure-icon.icon: i.icon-exclamation
      | &nbsp;failure
    else if job.finished
      span.success-icon.icon: i.icon-ok
      | &nbsp;success
    else
      span.spinner-icon.icon: i.icon-spinner
div.log.row
  each item in log
    if item.type === 'output' || item.type === 'error'
      div.output= item.content
    else
      | #{item.content}
      br
