- var jobsKlass = active === 'jobs' ? 'active' : ''
li#jobs-navigation(class=jobsKlass)
  a(href='#jobs') Jobs
if user.group === 'admin'
  - var usersKlass = active === 'users' ? 'active' : ''
  li#users-navigation(class=usersKlass)
    a(href='#users') Users
